<%# form.text_field :image, placeholder: "Image Url" %>
<div class="img-upload">
  <%= form.file_field :image, id:"tweet-image" %>
</div>
<%= form.text_area :text, placeholder: "テキスト", rows: "10" %>
<%= form.submit "送信" %>
